<footer class="b-footer">
        <div class="b-footer__main">
            <div class="b-footer__col">
                <a href="index.html" class="f-logo">
                    <figure class="f-logo__inner">
                        <div class="f-logo__thumb"></div>
                        <figcaption class="f-logo__entry">
                            Мальтійська служба допомоги
                        </figcaption>
                    </figure>
                </a>
                <p>Збереження віри та допомога потребуючим</p>
                <p><i class="icon-location"></i>&emsp;Україна, Київ, вул. Січневого Повстання, 17а/19</p>
                <p><i class="icon-phone"></i>&emsp;<a href="tel:+380502242414">+380&nbsp;50&nbsp;224-24-14</a></p>
                <p><i class="icon-mail"></i>&emsp;<a href="mailto:malteser.kyiv@gmail.com">malteser.kyiv@gmail.com</a></p>
            </div>
            <nav class="b-footer__col">
                <h5 class="b-footer__title">Діяльність</h5>
                <ul class="f-menu">
                    <li class="f-menu__item">
                        <a href="#" class="f-menu__link">Замовити медичний супровід</a>
                    </li>
                    <li class="f-menu__item">
                        <a href="#" class="f-menu__link">Замовити курс першої допомоги</a>
                    </li>
                    <li class="f-menu__item">
                        <a href="#" class="f-menu__link">Долучитися</a>
                    </li>
                    <li class="f-menu__item">
                        <a href="#" class="f-menu__link">Допомогти</a>
                    </li>
                </ul>
            </nav>
            <nav class="b-footer__col">
                <h5 class="b-footer__title">Останні новини</h5>
                <ul class="f-menu">
                    <li class="f-menu__item">
                        <a href="#" class="f-menu__link">Pellentesque habitant morbi tristique senectus</a>
                    </li>
                    <li class="f-menu__item">
                        <a href="#" class="f-menu__link">Aliquam tincidunt mauris eu risus</a>
                    </li>
                    <li class="f-menu__item">
                        <a href="#" class="f-menu__link">Vestibulum auctor dapibus neque</a>
                    </li>
                    <li class="f-menu__item">
                        <a href="#" class="f-menu__link">Nam dui mi, tincidunt quis, accumsan porttitor</a>
                    </li>
                    <li class="f-menu__item">
                        <a href="#" class="f-menu__link">Pellentesque fermentum dolor</a>
                    </li>
                </ul>
            </nav>
            <div class="b-footer__col">
                <h5 class="b-footer__title">Ми у соцмережах</h5>
                <ul class="f-social">
                    <li class="f-social__item">
                        <a href="#" rel="nofollow" target="_blank" class="f-social__link"><i class="icon-facebook"></i></a>
                    </li>
                    <li class="f-social__item">
                        <a href="#" rel="nofollow" target="_blank" class="f-social__link"><i class="icon-twitter"></i></a>
                    </li>
                    <li class="f-social__item">
                        <a href="#" rel="nofollow" target="_blank" class="f-social__link"><i class="icon-video"></i></a>
                    </li>
                    <li class="f-social__item">
                        <a href="#" rel="nofollow" target="_blank" class="f-social__link"><i class="icon-gplus"></i></a>
                    </li>
                    <li class="f-social__item">
                        <a href="#" rel="nofollow" target="_blank" class="f-social__link"><i class="icon-rss"></i></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="b-footer__sole">
            <p>Copyright © 2015-2017</p>
        </div>
    </footer>
    <!--/FOOTER-->

    <!--scripts-->
    <script>
        (function () {
            var css = document.createElement('link');
            css.setAttribute('rel', 'stylesheet');
            css.setAttribute('href', 'css/app.main.min.css');
            document.getElementsByTagName("head")[0].appendChild(css);
        })();
    </script>
    <noscript>
        <link rel="stylesheet" href="css/app.main.min.css" />
    </noscript>
    <script>
        WebFontConfig = {
            google: {
                families: ['Open Sans:400,400i,600,700:cyrillic']
            },
            active: function () {
                sessionStorage.font_GOS = true;
            }
        };

        (function (d) {
            var wf = d.createElement('script'), s = d.scripts[0];
            wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js';
            wf.async = true;
            s.parentNode.insertBefore(wf, s);
        })(document);
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery.min.js"><\/script>')</script>
    <script src="js/app.min.js"></script>
    <!--/scripts-->
