<meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Page Description">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, maximum-scale=1">
    <script>
        (function () {
            if (sessionStorage.font_GOS) {
                document.documentElement.classList.add('wf-active');
            }
        })();
    </script>
    <!--<link rel="stylesheet" href="css/app.min.css">-->
    <link rel="stylesheet" href="css/app.head.min.css" />
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    