<header class="b-header">
        <div class="b-header__top">
            <div class="g-container">
                <!--lang switcher-->  
                <ul class="h-lang">
                    <li class="h-lang__item h-lang__item--active">
                        <a href="#" class="h-lang__link">Uk</a>
                    </li>
                    <li class="h-lang__item">
                        <a href="#" class="h-lang__link">Pl</a>
                    </li>
                </ul>
                <!--/lang switcher-->
                <!--search form-->
                <form class="h-search">
                    <input type="text" name="s" id="s" class="h-search__input" placeholder="Шукати..." />
                    <button type="submit" class="h-search__btn">
                        <i class="icon-search"></i>
                    </button>
                </form>
                <!--/search form-->
                <!--header action list-->
                <ul class="h-action">
                    <li class="h-action__item">
                        <a href="tel:+380502242414" class="h-action__link">
                            <span class="h-action__icon">
                                <i class="icon-phone"></i>
                            </span>
                            (050) 224-24-14
                        </a>
                    </li>
                    <li class="h-action__item">
                        <a href="services.html" class="h-action__link">
                            <span class="h-action__icon">
                                <i class="icon-heart"></i>
                            </span>
                            Замовити послуги
                        </a>
                    </li>
                    <li class="h-action__item">
                        <a href="help.html" class="h-action__link">
                            <span class="h-action__icon">
                                <i class="icon-donate"></i>
                            </span>
                            Допомогти
                        </a>
                    </li>
                </ul>
                <!--/header action list-->
            </div>
        </div>
        <div class="b-header__main js-header">
            <nav class="g-container">
                <!--logo-->
                <a href="index.html" class="h-logo">
                    <figure class="h-logo__inner">
                        <div class="h-logo__thumb"></div>
                        <figcaption class="h-logo__entry">
                            <span class="h-logo__name h-logo__name--xs">МСД м.Київ</span>
                            <span class="h-logo__name h-logo__name--xl">Мальтійська служба допомоги</span>
                            <span class="h-logo__city">м.Київ</span>
                        </figcaption>
                    </figure>
                </a>
                <!--/logo-->
                <!--desktop menu-->
                <ul class="h-menu js-menu">
                    <li class="h-menu__item">
                        <a href="about.html" class="h-menu__link">Про нас</a>
                        <ul class="h-menu__sub-menu">
                            <li class="h-menu__sub-menu__item">
                                <a href="#" class="h-menu__sub-menu__link">МСД у Світі</a>
                            </li>
                            <li class="h-menu__sub-menu__item">
                                <a href="#" class="h-menu__sub-menu__link">МСД в Україні</a>
                            </li>
                            <li class="h-menu__sub-menu__item">
                                <a href="#" class="h-menu__sub-menu__link">Історія Мальтійського Ордену</a>
                            </li>
                            <li class="h-menu__sub-menu__item">
                                <a href="gallery.html" class="h-menu__sub-menu__link">Фотогалерея</a>
                            </li>
                            <li class="h-menu__sub-menu__item">
                                <a href="staff.html" class="h-menu__sub-menu__link">Команда</a>
                            </li>
                        </ul>
                    </li>
                    <li class="h-menu__item">
                        <a href="what-we-do.html" class="h-menu__link">Наша діяльність</a>
                        <ul class="h-menu__sub-menu">
                            <li class="h-menu__sub-menu__item">
                                <a href="#" class="h-menu__sub-menu__link">Рятівництво</a>
                            </li>
                            <li class="h-menu__sub-menu__item">
                                <a href="#" class="h-menu__sub-menu__link">Курси першої допомоги</a>
                            </li>
                            <li class="h-menu__sub-menu__item">
                                <a href="#" class="h-menu__sub-menu__link">Допомога війсковим</a>
                            </li>
                            <li class="h-menu__sub-menu__item">
                                <a href="#" class="h-menu__sub-menu__link">Благодійна кухня</a>
                            </li>
                        </ul>
                    </li>
                    <li class="h-menu__item">
                        <a href="actions.html" class="h-menu__link">Акції</a>
                    </li>
                    <li class="h-menu__item">
                        <a href="news.html" class="h-menu__link">Новини</a>
                    </li>
                    <li class="h-menu__item">
                        <a href="contacts.html" class="h-menu__link">Контакти</a>
                    </li>
                </ul>
                <!--/desktop menu-->

                <!--mobile menu switcher-->
                <button type="button" class="b-header__mtoggl js-mtoggl">
                    <i class="icon-menu"></i>
                </button>
                <!--/mobile menu switcher-->
            </nav>
        </div>
    </header>