<!--mobile menu-->    
        <nav class="page__panel js-mmenu">
            <ul class="m-menu">
                <li class="m-menu__item">
                    <a href="about.html" class="m-menu__link">Про нас</a>
                    <ul class="m-menu__sub-menu">
                        <li class="m-menu__sub-menu__item">
                            <a href="#" class="m-menu__sub-menu__link">МСД у Світі</a>
                        </li>
                        <li class="m-menu__sub-menu__item">
                            <a href="#" class="m-menu__sub-menu__link">МСД в Україні</a>
                        </li>
                        <li class="m-menu__sub-menu__item">
                            <a href="#" class="m-menu__sub-menu__link">Історія Мальтійського Ордену</a>
                        </li>
                        <li class="m-menu__sub-menu__item">
                            <a href="gallery.html" class="m-menu__sub-menu__link">Фотогалерея</a>
                        </li>
                        <li class="m-menu__sub-menu__item">
                            <a href="staff.html" class="m-menu__sub-menu__link">Команда</a>
                        </li>
                    </ul>
                </li>
                <li class="m-menu__item">
                    <a href="what-we-do.html" class="m-menu__link">Наша діяльність</a>
                    <ul class="m-menu__sub-menu">
                        <li class="m-menu__sub-menu__item">
                            <a href="#" class="m-menu__sub-menu__link">Рятівництво</a>
                        </li>
                        <li class="m-menu__sub-menu__item">
                            <a href="#" class="m-menu__sub-menu__link">Курси першої допомоги</a>
                        </li>
                        <li class="m-menu__sub-menu__item">
                            <a href="#" class="m-menu__sub-menu__link">Допомога війсковим</a>
                        </li>
                        <li class="m-menu__sub-menu__item">
                            <a href="#" class="m-menu__sub-menu__link">Благодійна кухня</a>
                        </li>
                    </ul>
                </li>
                <li class="m-menu__item">
                    <a href="actions.html" class="m-menu__link">Акції</a>
                </li>
                <li class="m-menu__item">
                    <a href="news.html" class="m-menu__link">Новини</a>
                </li>
                <li class="m-menu__item">
                    <a href="contacts.html" class="m-menu__link">Контакти</a>
                </li>
            </ul>
        </nav>
        <!--/mobile menu-->