@import "../../modules/_base.scss";
/*Footer menu*/
.f-menu{
    @extend .g-clearlist;
}

.f-menu__item{
    display:block;
    margin:$project-line-height 0;
    line-height:1.4;
    font-size:rem(15px);
}

.f-menu__link,
.f-menu__item > span{
    color:#c9c9c9;
    text-decoration:none;

    &:hover{
        color:$primary;
    }
}

.f-menu__item--active > a,
.f-menu__item--active > span{
    color:$primary;
    cursor:default;
}