@import "../../modules/_base.scss";
/*Footer menu*/
.f-menu{
    @extend .g-clearlist;
}

.f-menu__item{
    display:block;
    margin:$project-line-height 0;
    line-height:1.4;
    font-size:rem(15px);
}

.f-menu__link{
    color:#c9c9c9;
    text-decoration:none;

    &:hover{
        color:$primary;
    }

    .f-menu__item--active{
        color:$primary;
        cursor:default;
    }
}