@import "../../modules/_base.scss";
/*Mobile Menu*/
.page__overlay{
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.6;
    filter: alpha(opacity=60);
    z-index:3000;
}

.page__panel{
    position:fixed;
    width:256px;
    height:100%;
    top:0;
    left:-256px;
    z-index:3100;//поверх оверлея
    overflow-x:hidden;
    overflow-y:auto;
    will-change:left;
    transition:left .3s ease;
    @include linear-gradient(to bottom, $primary-alt, darken($primary-alt, 7%));

    @include media($desktop){
        display:none;
    }

    &.active{
        left:0;
    }
}

.m-menu,
.m-menu__sub-menu{
    @extend .g-clearlist;
}

.m-menu__sub-menu{
    display:none;
}

.m-menu__item{
    position:relative;

    &.has-menu{
        & > a,
        & > span{
            padding-right:40px;
        }
    }
}

.m-menu__link,
.m-menu__sub-menu__link,
.m-menu__item > span,
.m-menu__sub-menu__item > span{
    display:block;
    padding:11px 12px;
    border-top:1px solid #808080;
    border-bottom:1px solid #000;
    color:#fff;
    line-height:1.15;
    font-size:rem(14px);
    text-decoration:none;
    backface-visibility:hidden;
}

.m-menu__link,
.m-menu__item > span{
    font-weight:600;
}

.m-menu__item--active > a,
.m-menu__item--active > span,
.m-menu__sub-menu__item--active > a,
.m-menu__sub-menu__item--active > span,
.m-menu__item--parent--active > a,
.m-menu__item--parent--active > span,
.m-menu__item--ancestor--active > a,
.m-menu__item--ancestor--active > span {
    color:$primary;
}

.m-menu__link,
.m-menu__sub-menu__link{
    &:active,
    &:focus{
        color:$primary;
    }
}

.m-menu__link,
.m-menu__item > span{
    text-transform:uppercase;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}

.m-menu__sub-menu__link,
.m-menu__sub-menu__item > span{
    padding-left:20px;
}

.m-menu__label{//заголовок меню
    display:block;
    height:36px;
    line-height:36px;
    padding:0 30px 0 12px;
    border-bottom:1px solid #000;
    color:$border-color;
    text-transform:uppercase;
    box-sizing:border-box;
    cursor:pointer;

    &:after{
        content:'\e903';
        font-family:'icomoon';
        position:absolute;
        right:12px;
        font-size:rem(12px);
    }
}

.m-menu__toggle{//кнопка показать - скрыть субменю
    @extend .g-clearbutton;
    @include size(36px);
    line-height:36px;
    position:absolute;
    top:0; right:0;
    font-size:rem(12px);
    color:$border-color;
    border-left:1px dotted #808080;

    [class^="icon-"], [class*=" icon-"]{
        display:inline-block;
        vertical-align:middle;
        @extend .g-transition;
        transition-property:transform;
    }

    &.active{
        color:$primary;
        [class^="icon-"], [class*=" icon-"]{
            transform:rotate(-180deg);
        }
    }
}