@import "../../modules/_base.scss";
/*Breadcrumbs*/
.b-crumb{
    list-style-type:none;
    padding:0;
    margin:-20px 0 10px;
    font-size:0;
}
.b-crumb__item{
    display:inline-block;
    vertical-align:middle;
    margin-right:5px;
    font-size:rem(13px);
    color:#bbb;

    &:after{
        content:'/';
        margin-left:5px;
    }

    &:last-child{
        margin-right:0;

        &:after{
            display:none;
        }
    }
}

.b-crumb__link{
    color:inherit;
    text-decoration:none;

    &:hover{
        color:$primary;
        .b-crumb__name{
            text-decoration:underline;
        }
    }
}
.b-crumb__name{
    display:inline-block;
}