@import "../../modules/_base.scss";
/*News page*/
.b-news{
    @extend .g-clearlist;
}

.b-news__item{
    display:block;
    margin-bottom:$project-line-height;
}
.b-news__excerpt{
    @extend .g-clearfix;
    text-align:center;
}
.b-news__thumb{
    max-width:400px;
    margin:0 auto $project-line-height;
    position:relative;
    @extend .g-shadow-hover;

    &:before{
        content:'';
        display:block;
        padding-top:75%;
    }
}

.b-news__thumblink{
    display:block;
    text-decoration:none;
    position:absolute;
    top:0; left:0;
    width:100%;
    height:100%;
    transform: perspective(1px) translateZ(0);
    overflow:hidden;

    &:before,
    &:after{
        content:'';
        display:block;
        position:absolute;
        box-sizing:border-box;
        @extend .g-transition;
    }

    &:before{
        height:5px;
        left: 0;
        right: 100%;
        bottom: 0;
        background:$primary;
        transition-property: right;
        z-index:2;
    }

    &:after{
        top:0; right:0; bottom:0; left:0;
        background:rgba(0,0,0, .2);
        opacity:0;
        transition-property:opacity;
        z-index:3;
    }

    &:hover{
        &:before{
            right:0;
        }
        &:after{
            opacity:1;
        }
        .b-news__img{
            transform:scale(1.1);
        }
    }
}
.b-news__img{
    @extend .g-img-centered;
    backface-visibility:hidden;
    @extend .g-transition;
    transition-property:transform;
    z-index:1;
}
.b-news__title{
    margin-bottom:$project-line-height/2;
    color:$primary-alt;
    font-size:rem(15px);
    text-transform:uppercase;
}
.b-news__link{
    color:inherit;
    text-decoration:none;
    &:hover{
        color:$primary;
    }
}
.b-news__date{
    font-size:rem(13px);
    color:#bbb;
    font-style:italic;
}

.b-news__more{
    display:inline-block;
    text-decoration:none;
    font-weight:600;
    position:relative;
    white-space:nowrap;
    overflow:hidden;

    &:before{
        content:'';
        display:block;
        width:100%;
        height:1px;
        background:$primary;
        position:absolute;
        bottom:0;
        left:0;
        transform:translateX(-101%);
        @extend .g-transition;
        transition-property:transform;
    }

    &:hover{
        &:before{
            transform:translateX(0);
        }
    }
}

@include media($desktop){
    .b-news__excerpt{
        text-align:left;
    }
    .b-news__thumb{
        float:left;
        width:200px;
        margin:0;
    }
    .b-news__entry{
        margin-left:225px;
    }
}

//Post gallery
.b-photo{
    @extend .g-clearlist;
    @extend .g-clearfix;
}
.b-photo__item{
    @extend .g-column;
    margin-bottom:$project-line-height;
    @include span-columns(6);
    @include omega(2n);

    @include media($mobile){
        @include omega-reset(2n);
        @include span-columns(4);
        @include omega(3n);
    }

    @include media($desktop){
        @include omega-reset(3n);
        @include span-columns(3);
        @include omega(4n);
    }
}

.b-photo__link{
    @extend .b-gallery__link;
    @extend .g-shadow-hover;

    &:before{
        content:'';
        position:absolute;
        top:0; left:0; right:0; bottom:0;
        background:rgba(#000, .25);
        opacity:0;
        @extend .g-transition;
        transition-property:opacity;
    }

    &:hover{
        &:before{
            opacity:1;
        }
    }
}

//Post meta
.b-meta{
    margin:0 0 $project-line-height;
}
.b-meta__date{
    display:block;
    color:#bbb;
    font-style:italic;
}

.b-meta__title{
    display:block;
    margin-bottom:$project-line-height/2;
    font-size:rem(15px);
    font-weight:600;
    color:$primary-alt;
    text-transform:uppercase;

    [class^="icon-"], [class*=" icon-"]{
        color:$primary;
    }
}

.b-meta__list{
    list-style-type:none;
    padding:0;
    font-size:0;
}
.b-meta__item{
    display:inline-block;
    vertical-align:middle;
    margin-right:10px;
    font-size:rem(14px);
    color:$primary-alt;

    a{
        color:inherit;
        text-decoration:none;
        font-weight:600;

        &:hover{
            color:$primary;
        }
    }
}