@import "../../modules/_base.scss";
/*Scroll-up button*/
.page__scroll{
    @extend .g-clearbutton;
    @include size(50px);
    line-height:50px;
    color:$primary;
    font-size:rem(44px);
    position:fixed;
    right:10px;
    bottom:15px;
    opacity:.5;
    transition-property:opacity, transform;
    z-index:1000;
    cursor:pointer;
    display:none; //покажем скриптом

    &:hover,
    &:active{
        opacity:.9;
    }
}