@import "../../modules/_base.scss";
/*Header action list*/
.h-action{
    @extend .g-clearlist;
    float:right;
    font-size:0;
    display:none;

    @include media($desktop){
        display:block;
    }
}
.h-action__item{
    display:inline-block;
    vertical-align:middle;
    margin-left:25px;
    font-size:rem(18px);

    &:first-child{
        display:none;

        @include media($large){
            display:inline-block;
        }
    }
}
.h-action__link{
    display:block;
    color:#fff;
    text-decoration:none;
    font-weight:600;
    line-height:50px;
    white-space:nowrap;
    @extend .g-clearfix;

    &:hover{
        color:$primary;

        .h-action__icon{
            color:$primary;
            background:#fff;
        }
    }
}
.h-action__icon{
    float:left;
    margin-right:5px;
    @include size(50px);
    border-radius:50%;
    color:#fff;
    background:$primary;
    font-size:rem(32px);
    position:relative;
    @extend .g-transition;
    transition-property:color, background;

    [class^="icon-"], [class*=" icon-"]{
        @extend .g-align;
    }
}