// Core imports
@import "../../../bower_components/bourbon/app/assets/stylesheets/bourbon";

@import "neat-grid-settings";
@import "../../../bower_components/neat/app/assets/stylesheets/neat";

// Default project variables
$project-font-size:14px; //in px
$project-line-height:18px; //in px

$grid-gutter: flex-gutter();
$border-radius:4px;

//colors
$text-color:#25292f;
$border-color:#E0E0E0;
$placeholder-color:$border-color;
$primary:#da251c;
$primary-alt:#2c3e50;
$title-color:$primary-alt;

//fonts
$font-regular:'Open Sans';
$font-title:'Open Sans';

//centered image
@mixin img-centered(){
    position:absolute;
    top:0; right:0; bottom:0; left:0;
    max-width:100%;
    max-height:100%;
    margin:auto;
}

