@import "base";
/* Forms */
$error-color:#e74c3c;
$focus-color:#95a5a6;

/* Removes awkward default styles on some inputs for iOS */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
    @include appearance(none);
}

.g-input,
.g-select,
.g-textarea{
    display:inline-block;
    vertical-align:middle;
    width:100%;
    margin-bottom: 2*$project-line-height;
    padding:6px 10px;
    background-color: #fff;
    border: 1px solid $border-color;
    border-radius:$border-radius;
    box-shadow: none;
    box-sizing: border-box;
    transition-property:border-color,color,background-color, box-shadow, transform;
    @extend .g-transition;

    @include placeholder{
        color:$placeholder-color;
        opacity:1;
    }

    &:hover,
    &:focus{
        border-color:$focus-color;
    }

    &:focus{
        box-shadow:inset 0 0 4px rgba($focus-color, .5);
    }

    &:disabled{
        border-color:$border-color;
        box-shadow:inset 0 0 4px rgba($border-color, .8);
    }
    
    &.error,
    .error > &{
        border-color:$error-color !important;
        color:$error-color !important;

        @include placeholder{
            color:$error-color !important;
        }
    }
}

.g-input,
.g-select{
    height:2*$project-line-height;
}

.g-textarea{
    min-height:5*$project-line-height;
}

.g-label{
    display: block;
    color:$primary-alt;
    font-weight:600;
    margin-bottom:$project-line-height/3;

    &.error,
    .error > &{
        color:$error-color;
    }
}
.g-label__body{
    display: inline-block;
    margin-left:10px;
    font-weight: normal;
}

input[type="checkbox"],
input[type="radio"] {
  display: inline; }

.g-fieldset{
    position:relative;
}

.g-fieldset__msg{
    position:absolute;
    left:10px;
    bottom:$project-line-height;
    font-size:rem(11px);
    color:$error-color;
    font-style:italic;
    display:none;

    .error > &{
        display:block;
    }
}

.g-alert{
    display:none;
    margin:$project-line-height 0;
    padding:25px 15px;
    background:$primary-alt;
    border-radius:$border-radius;
    color:#fff;
    font-size:rem(16px);
    font-weight:600;
    text-align:center;
    position:relative;

    p{
        margin:$project-line-height/2 0;
    }

    &.active{
        display:block;
    }
}

.g-alert--wrong{
    background:$primary;
}

.g-alert__close{
    @extend .g-clearbutton;
    border:none;
    font-size:rem(18px);
    position:absolute;
    top:5px; right:15px;

    &:hover{
        color:$primary;
    }
}

//google re-captcha
.g-recaptcha{
    margin-bottom:$project-line-height;
}
@include media(max-height 575px){
    #rc-imageselect, .g-recaptcha{
        transform:scale(0.77);
        transform-origin:0 0;
    }
}


