//@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,700&subset=cyrillic');

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?wnynf4');
  src:  url('../fonts/icomoon.eot?wnynf4#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?wnynf4') format('truetype'),
    url('../fonts/icomoon.woff?wnynf4') format('woff'),
    url('../fonts/icomoon.svg?wnynf4#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon' !important;
  display:inline-block;
  vertical-align:middle;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  text-decoration:none;
  line-height: 1;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-share:before {
  content: "\e919";
}
.icon-facebook:before {
  content: "\e908";
}
.icon-gplus:before {
  content: "\e909";
}
.icon-instagram:before {
  content: "\e914";
}
.icon-rss:before {
  content: "\e916";
}
.icon-twitter:before {
  content: "\e91a";
}
.icon-video:before {
  content: "\e91c";
}
.icon-vk:before {
  content: "\e920";
}
.icon-news:before {
  content: "\e91e";
}
.icon-pictures:before {
  content: "\e91f";
}
.icon-up:before {
  content: "\e91b";
}
.icon-arrow-right:before {
  content: "\e900";
}
.icon-arrow-left:before {
  content: "\e901";
}
.icon-check:before {
  content: "\e902";
}
.icon-close:before {
  content: "\e903";
}
.icon-credit-card:before {
  content: "\e904";
}
.icon-donate:before {
  content: "\e905";
}
.icon-down:before {
  content: "\e906";
}
.icon-download:before {
  content: "\e907";
}
.icon-heart:before {
  content: "\e90a";
}
.icon-injury:before {
  content: "\e90b";
}
.icon-location:before {
  content: "\e90c";
}
.icon-mail:before {
  content: "\e90d";
}
.icon-medical-kit:before {
  content: "\e90e";
}
.icon-menu:before {
  content: "\e90f";
}
.icon-more:before {
  content: "\e910";
}
.icon-new-user:before {
  content: "\e911";
}
.icon-phone:before {
  content: "\e912";
}
.icon-question:before {
  content: "\e913";
}
.icon-search:before {
  content: "\e915";
}
.icon-tag:before {
  content: "\e917";
}
.icon-tags:before {
  content: "\e918";
}
.icon-zoom:before {
  content: "\e91d";
}